.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{
    background-color: black;    
    color: white;
}

.bg-grey{
    background-color: #121212;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 7px;
}

.Artist{
    border-radius: 50%;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
} 

/* Scrollbar container */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    background-color: #2e2e2e; /* Background color of the scrollbar track */
  }
  
  /* Scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Roundness of the scrollbar thumb */
    border: 3px solid #2e2e2e; /* Optional: Border around the thumb to match the track */
  }
  
  /* Scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Color of the scrollbar thumb on hover */
  }
  
  /* Optional: Scrollbar track (space between thumb and container edge) */
  ::-webkit-scrollbar-track {
    background-color: #2e2e2e; /* Background color of the scrollbar track */
    border-radius: 6px; /* Roundness of the scrollbar track */
  }
  